
*{
    padding:0;
    margin:0;

}

body{
    background-image: url(http://localhost/zonas/htmls/img/fondo.png);
    font-family: Arial, Helvetica, sans-serif;
}
.account{
    font-size: 90%;
    color: #000000;
    cursor: pointer;
    
}
.account2{
    margin-top: 20%;
    margin-left: -210px;
    font-size: 90%;
    color: #000000;
    cursor: pointer;
    justify-content: center;
    
}
.account3{
    margin-left: -100;
    
    font-size: 90%;
    color: #000000;
    cursor: pointer;
    
}
.boton  button{
    color:#000000;
    background-color:#fff;
    border-radius: 5px;
    border-color: #14c6ee;
    height:25px;
    width:99px;
    margin-left:-200px;
    cursor:pointer;
}
.boton1{
    width: 50%;
    height: 10%;
    margin-left: 9%;

}
.boton8{
    width: 10%;
    height: 10%;
    margin-left: 90%;
    margin-top:-18%;
    
}
.boton2{
    width: 10%;
    height: 10%;
    margin-left: 80%;
    margin-top:7%;
   
    
}
.boton1  button{
    color:#000000;
    background-color:#fff;
    border-radius: 5px;
    border-color: #14c6ee;
    height:25px;
    width:99px;
    margin-left:-80px;
    margin-top: -10%;
    cursor:pointer;
    display: grid;
   place-content: center;
}
.container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;    
} 
.container .card{
    height:510px;
    width:800px;
    border-radius: 10PX;
    background-color:#fff;
    position:relative;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    font-family: 'Poppins', sans-serif;
    overflow:hidden;
    z-index:1;
}

form{
    width:100%;
    height:100%;
    display:flex;
   
   
}
.container .card .left-side{
    width:40%;
    background-color:#e7f6fa; 
     height:100%; 
}

.d-none{
    display:none !important;
}
.main{
    padding:10px 30px;
    display:none;
    
}
.main_signin{
    padding:10px 30px;
    display:none;
    
}



.active{
    display:block !important;
}
.top-div{
    display:flex;
    flex-direction:column;
    
}

.logo{
    padding:10px;
}

.logo img{
   width:60px;
    margin-bottom:10px;
}

.steps{
    display:flex;
    justify-content:space-between;
    width:100%;
    padding:0px 10px;
}

.steps .step .circle{
    height:40px;
    width:40px;
    background-color:#ccc;
    border-radius:50%;
}
.steps .step .line{
    width:22%;
    
}
.top-div img{
    width:60px;
    margin-bottom:10px;
}
.top-div h2{
    color:#484a4c;
}
    .top-div p{
    color:#585e61;
    font-size:12px;
    font-weight:700;
}
.input-text{
    margin-bottom:20px;
    margin-top:10px;

}
input[type="number"]{
    height:35px;
    width:100%;
    border:none;
    background-color:transparent;
    outline:0;
    border-bottom:1px solid #d4dfe4;
    font-size:12px;
}
input[type="text"]{
    height:35px;
    width:100%;
    border:none;
    background-color:transparent;
    outline:0;
    border-bottom:1px solid #d4dfe4;
    font-size:12px;
}
input[type="password"]{
    height:35px;
    width:100%;
    border:none;
    background-color:transparent;
    outline:0;
    border-bottom:1px solid #d4dfe4;
    font-size:12px;
    
}
select{
     height:35px;
    width:100%;
    border:none;
    background-color:transparent;
    outline:0;
    border-bottom:1px solid #d4dfe4;
    font-size:12px;
}
.input-text select option:nth-child(1){
    display:none !important;
}
.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    
}
.final_button{
    margin-top:130px;
}
.button button{
    margin-top:-10%;
    
    height:35px;
    width:100%;
    outline:0;
    border:0;
    background-color:#14c6ee;
    border-radius:4px;
    font-size:12px;
    color:#000000;
    cursor:pointer;
 
}
.buttons button{
   
    height:35px;
    width:100%;
    outline:0;
    border:0;
    background-color:#14c6ee;
    border-radius:4px;
    font-size:12px;
    color:#000000;
    cursor:pointer;
 
}
.warning{
    border-bottom:1px solid red !important;
}




.check_box{
    text-align:center;
}
.check_box p{
    font-size:13px;
    font-weight:700;
}

.sign_in{
    text-align:center;
    margin:20px 0;
    
    
}
.sign_button{
    margin-top:70px; 
    
    
}



.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}


/*left-side-end*/
.container .card .right-side{
    width:60%;
    height:100%;
    position:relative;
    
}
/*right-side-start*/
.right-side .cover-image{
    height:100%;
    position:relative;
    
}
.right-side img{
    width:100%;
    height:100%;
    position:relative;
    object-fit:cover;
  
}
.header{
    position:absolute;
    top:90%;
    right:99%;
    color:#000000;
    padding:15px 25px;
    margin-left:90px;
    display:flex;
    align-items:center;
}
.header p{
    font-size:12px;
    font-weight:900;
    color:#000000;
}
.header  button{
    color:#428baa;
    background-color:#fff;
    border:none;
    height:25px;
    width:99px;
    margin-left:10px;
    cursor:pointer;
}
.right_text{
   position:absolute;
   bottom:50px;
   color:#fff;
   left:40px;
}
.right_text h2{
    font-size:20px;
    margin-bottom:10px;
}
.right_text p{
    font-size:12px;
    font-weight:600;
    
}


.steps{
    width:100%;
    counter-reset: css-counter 0;
    padding:4px;
}

.steps li{
    list-style:none; 
    width:25%;
    float:left;
    position:relative;
    text-align:center;
    counter-increment: css-counter 1;
   
}

.steps li:before{
    content:counter(css-counter);
     
    height:30px;
    width:30px;
    background-color:#ccc;
    border-radius:50%;
    display:block;
    text-align:center;
    margin:0 auto 10px auto;
    color:#fff;
    line-height:30px;
 
}

.steps li:after{
    content:'';
    position:absolute;
    width:100%;
    height:3px;
    background-color:blue;
    top:15px;
    z-index:-1;
}

li:first-child::after {
  display: none;
}

li.li-active::before{
    background-color:green;
}


/*right-side-end*/
@media (max-width:750px) {
    .container .card {
        max-width: 350px;
    }
    .container .card .right-side {
       display: none;
    }
    .container .card .left-side {
      width:100%;
           
    }
}
/*estilos de menu*/
