body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0;
    background-color: rgb(190, 240, 240);
   
  }
h1{
    margin: 5%;
}
  table {
    width: 93%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: -5%;
    border: solid;
    color: rgb(0, 0, 0);
  }

  th, td {
    
    border: 1px solid;
    padding: 8px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.336);
    
  }

  th {
    background-color: rgba(255, 255, 255, 0.598);
  }

  @media screen and (max-width: 600px) {
    th, td {
      display: block;
      width: 100%;
    }
  }




  